body {
  background-color: green;
}

h2 {
  color: white;
  font-weight: bolder;
}

p {
  color: white;
  font-weight: bolder;
}

label {
  color: white;
  font-weight: bolder;
}

button {
  color: black;
  font-weight: bolder;
  background-color: white;
}

div {
  color: white;
  font-weight: bolder;
}